<div class="main_body">
<br />
<br />
<% flick_count = @active_flicks_data.count %>
<span class="sub_heading">All Flicks (<%= flick_count %>)</span>
  <%= form_tag(all_flicks_path, :method => "get", id: "search-form") do %>
    <%= text_field_tag :search, params[:search], placeholder: "Search by title or year" %>
  <% end %>
<br />
<br />
  
  <% if flick_count > 0 %>
      <% @active_flicks_data.each do |imdb_datum| %>
          <div class="well">
            <div id="poster_index"><img src="<%= imdb_datum.poster %>" /></div>

            <div id="flick_title">
              <a href="<%= imdb_datum_path(imdb_datum.imdb_id) %>"><%= imdb_datum.title %> (<%= imdb_datum.year %>)</a>
            </div>
            <div id="index_flick_options"> 
              <span class="icon-comment"></span>
              <% comment_count = imdb_datum.user_comments.count %>
              <span><a href="<%= imdb_datum_path(imdb_datum.imdb_id) %>#comments_section">Comments (<%= comment_count %>)</a></span>
              <% if !@current_user_list.include? imdb_datum.imdb_id %>
                <br />
                <br />
                <span class="icon-film"></span>
                <%= link_to 'Add To myFlicks', new_flick_path(:imdb_id => imdb_datum.imdb_id) %>
              <% end %>
              <% if current_user.admin? %>
                <br />
                <br />
                <span class="icon-remove"></span>
                <%= link_to "Remove (Admin)", imdb_datum, method: :delete, data: { confirm: 'Are you sure?' }, id: "admin_option" %>
              <% end %>
            </div>
            <br />

            <span id="plot_extra">
              <small>
                Type: <%= imdb_datum.flick_type.capitalize! %> <span class="separators">|</span>
                Rated: <%= imdb_datum.rating %> <span class="separators">|</span>
                Genre: <%= imdb_datum.genre %> <span class="separators">|</span>
                IMDB Rating: <%= imdb_datum.imdbrating %>
              </small>
            </span>

            <br />

            <div id="plot"><%= imdb_datum.plot.truncate(256, separator: ' ') %></div>
  
          </div>
      <% end %>
  <% else %>
    No matching flicks found. Feel free to <u><a href="<%= new_imdb_datum_path %>">add a flick</a></u> from the IMDB database.

  <% end %>
</div>


