<p id="notice"><%= notice %></p>
<br />

<div id="show_poster">
  <img src="<%= @imdb_datum.poster %>" />
</div>
 
<br />
<span class="show_heading"><%= @imdb_datum.title %></span>
<br />

<div id="show_flick">
<p>
  <strong>Year:</strong>
  <%= @imdb_datum.year %>
</p>

<p>
  <strong>Release date:</strong>
  <%= @imdb_datum.release_date %>
</p>

<p>
  <strong>Runtime:</strong>
  <%= @imdb_datum.runtime %>
</p>

<p>
  <strong>Genre:</strong>
  <%= @imdb_datum.genre %>
</p>

<p>
  <strong>Plot:</strong>
  <%= @imdb_datum.plot %>
</p>

<p>
  <strong>Rating:</strong>
  <%= @imdb_datum.rating %>
</p>

<p>
  <strong>Type:</strong>
  <%= @imdb_datum.flick_type.capitalize %>
</p>

<%= link_to 'Go Back', imdb_data_path, class: "btn btn-mini" %>

</div>

