<!DOCTYPE html>
<html>
<head>
  <title>MyFlicks.com</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <link href='http://fonts.googleapis.com/css?family=Droid+Sans:400,700' rel='stylesheet' type='text/css'>
  <link href='http://fonts.googleapis.com/css?family=Lato:100,300,400,700,300italic' rel='stylesheet' type='text/css'>
  <%= csrf_meta_tags %>
</head>
<body>
<br />
<div id="user_nav">
  <% if user_signed_in? %>
    Hello, <strong><%= current_user.email.split('@')[0] %>!</strong>
    <div id="user_nav_options">
      <%= link_to "Home", root_url %>
        <span class="separators">|</span>
      <%= link_to 'Add a Flick', new_imdb_datum_path%>
        <span class="separators">|</span>
      <%= link_to "Your Flicks", edit_user_registration_path %> 
        <span class="separators">|</span>
      <%= link_to "Sign out", destroy_user_session_path, method: :delete %>
    </div>
  <% else %>
    <%= link_to "Sign up", new_user_registration_path %> or
    <%= link_to "Sign in", new_user_session_path %>
  <% end %>
</div>
<% if !flash[:notice].blank? %>
  <br />
  <div class="alert alert-info">
  <%= flash[:notice] %>
  </div>
<% end %>

<%= yield %>

</body>
</html>
